.wy-nav-content {
    height: 100%;
    max-width: 75% !important;
    margin: auto;
}

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}

/* .wy-table-responsive {
    overflow: visible !important;
} */

.center-image
{
    margin: 0 auto;
    display: block;
}


table:nth-of-type(1) {
    display:table;
    width:100%;
}
table:nth-of-type(1) th,td:nth-of-type(1) {
    width:8%;
    vertical-align: middle;
}
table:nth-of-type(1) th,td:nth-of-type(2) {
    width:15%;
    vertical-align: middle;
}
table:nth-of-type(1) th,td:nth-of-type(3) {
    width:38%;
    vertical-align: middle;
}
table:nth-of-type(1) th,td:nth-of-type(4) {
    width:15%;
    vertical-align: middle;
}
table:nth-of-type(1) th,td:nth-of-type(5) {
    width:15%;
    vertical-align: middle;
}
table:nth-of-type(1) th,td:nth-of-type(6) {
    width:8%;
    vertical-align: middle;
}

table:nth-of-type(2) {
    display:table;
    width:80%;
}
/* table:nth-of-type(2) th,td:nth-of-type(1) {
    width:8%;
    vertical-align: middle;
}
table:nth-of-type(2) th,td:nth-of-type(2) {
    width:15%;
    vertical-align: middle;
}
table:nth-of-type(2) th,td:nth-of-type(3) {
    width:38%;
    vertical-align: middle;
}
table:nth-of-type(2) th,td:nth-of-type(4) {
    width:15%;
    vertical-align: middle;
}
table:nth-of-type(2) th,td:nth-of-type(5) {
    width:15%;
    vertical-align: middle;
}
table:nth-of-type(2) th,td:nth-of-type(6) {
    width:8%;
    vertical-align: middle;
} */

table:nth-of-type(3) {
    display:table;
    width:100%;
}
/* table:nth-of-type(3) th,td:nth-of-type(1) {
    width:8%;
    vertical-align: middle;
}
table:nth-of-type(3) th,td:nth-of-type(2) {
    width:15%;
    vertical-align: middle;
}
table:nth-of-type(3) th,td:nth-of-type(3) {
    width:38%;
    vertical-align: middle;
}
table:nth-of-type(3) th,td:nth-of-type(4) {
    width:15%;
    vertical-align: middle;
}
table:nth-of-type(3) th,td:nth-of-type(5) {
    width:15%;
    vertical-align: middle;
}
table:nth-of-type(3) th,td:nth-of-type(6) {
    width:8%;
    vertical-align: middle;
} */